<div class="overlay" id="overlay">
    <div class="cookie position-fixed d-flex justify-content-between">
        <div class=" d-flex flex-column overflow-hidden justify-content-between font_medium">
            <div class="d-flex">
                <span>Wir verwenden Cookies, um unsere Website und unseren Service für Sie zu Optimieren.</span>
            </div>

            <div>
                <div class="form-check form-switch my-3 d-flex">
                    <input class="form-check-input shadow-none width_cookie me-3 my-auto" type="checkbox"
                           id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label my-auto" for="flexSwitchCheckChecked">Funktionale Cookies</label>
                </div>
                <div class="form-check form-switch my-3 d-flex">
                    <input class="form-check-input shadow-none width_cookie me-3 my-auto" type="checkbox" checked>
                    <label class="form-check-label my-auto">Statistische Cookies</label>
                </div>
                <div class="form-check form-switch my-3 d-flex">
                    <input class="form-check-input shadow-none width_cookie me-3 my-auto" type="checkbox">
                    <label class="form-check-label my-auto">Marketing Cookies</label>
                </div>
            </div>
            <div class="d-flex flex-column">
                <button type="button" class="button_cookie accept_all my-3 text-uppercase" id="all_cookies">Ausgewählte
                    Cookies zulassen
                </button>
                <button type="button" class="button_cookie accept_functional text-uppercase" id="functional_cookies">Nur
                    funktionale Cookies zulassen
                </button>
            </div>
        </div>
    </div>

</div>