<!--- Blue Banner DONE --->

<section class="bg-primary position-relative overflow-hidden">
    <div class="box py-5 my-5 ">
        <img src="assets/pictures/circle_AI_Left_top.png" alt="" class="position-absolute contact_bottom_right">
        <img src="assets/pictures/white_thin_circle.svg" alt="" class="position-absolute contact_right">
        <img src="assets/pictures/circle_AI_fat.png" alt="" class="position-absolute contact_top_right">
        <h4 class="text-white text-center font_medium" style="font-size: 30px;">Nehmen Sie Kontakt mit uns auf und
            sprechen Sie mit einem unserer Experten.</h4>
        <div class="row justify-content-between align-content-center d-flex text-white pt-5">
            <div class="col-4 d-flex flex-column pt-3">
                <div class="height-contact d-flex justify-content-center">
                    <img src="assets/pictures/phone.svg" alt="" class="align-self-center">
                </div>
                <p class="text-center pt-3 footer_heading font_light">+49 (0) 211. 730 634 – 0</p>
                <img src="assets/pictures/line_white.png" alt="" class="align-self-center pt-2">
            </div>
            <div class="col-4 d-flex flex-column pt-3">
                <div class="height-contact d-flex justify-content-center">
                    <img src="assets/pictures/contact.svg" alt="" class="align-self-center">
                </div>
                <p class="text-center pt-3 footer_heading font_light">Zum Kontaktformular</p>
                <img src="assets/pictures/line_white.png" alt="" class="align-self-center pt-2">
            </div>
            <div class="col-4 d-flex flex-column pt-3">
                <div class="height-contact d-flex justify-content-center">
                    <img src="assets/pictures/mail.svg" alt="" class="align-self-center">
                </div>
                <p class="text-center pt-3 footer_heading font_light">info@csn-gmbh.de</p>
                <img src="assets/pictures/line_white.png" alt="" class="align-self-center pt-2">
            </div>
        </div>
    </div>
</section>

<!---Footer DONE --->

<section class="bg-secondary position-relative">
    <div class="box">
        <div class="row py-5 no_gutter_x ">
            <div class="col-md-3 col-sm-12 d-flex justify-content-start align-content-center  ">
                <img src="assets/pictures/CSN_Wortbildmarke_weiß_RZ.svg" alt="" class="align-self-start banner_height">
            </div>
            <div class="col-md-6 col-sm-12 d-flex justify-content-center align-content-center text-white my-auto  ">
                <span class="align-middle text-uppercase font_light" style="font-size: 16px;">© 2021 CSN Communication Service Network GmbH</span>
            </div>
            <div class="col-md-3 d-flex justify-content-between ">
                <button class="button blue_full_button">Kostenlos Testen</button>
                <div class="flex-column my-auto justify-content-end icon">
                    <div class="d-flex justify-content-center pb-2 icon_jump" style="color: white">
                        <i data-feather="globe"></i>
                    </div>
                    <span class="text-white no_padding_bot text-uppercase mx-auto font_medium font_navbar">Deutsch</span>
                </div>
            </div>
        </div>
        <div class="row py-5 top_border no_gutter_x">
            <div class="col-md-3 text-white ps-0">
                <p class="text-uppercase pb-2 font_bold primary">Csn Conferencing</p>
                <div class="font_light">
                    <p class="font_medium footer_list">Enthaltene Produkte</p>
                    <p class="font_light footer_list">Telefonkonferenzen</p>
                    <p class="font_light footer_list">Webinare & Online Training</p>
                    <p class="font_light footer_list">Webkonferenzen</p>
                    <p class="font_light footer_list">Videokonferenzen</p>
                    <p class="font_light footer_list">Operatorgestützte Konferenzen</p>
                </div>

                <div class="font_light pt-4">
                    <p class="font_medium footer_list">Einsatzbereiche</p>
                    <p class="font_light footer_list">Marketing & Vertrieb</p>
                    <p class="font_light footer_list">Schulung & Training</p>
                    <p class="font_light footer_list">Business-Konferenzen</p>
                    <p class="font_light footer_list">Investor Relations Konferenzen</p>
                    <p class="font_light footer_list">Recruiting</p>
                </div>
            </div>
            <div class="col-md-3 text-white">
                <p class="text-uppercase pb-2 font_bold primary">Csn Online-Beratung</p>
                <div class="font_light">
                    <p class="font_medium footer_list">Produkt-Features</p>
                    <p class="font_light footer_list">Video-Beratung</p>
                    <p class="font_light footer_list">Text- und Videochat</p>
                    <p class="font_light footer_list">Digitale Unterschrift</p>
                    <p class="font_light footer_list">Dateifreigabe & Mediathek</p>
                    <p class="font_light footer_list">Umfragen</p>
                </div>

                <div class="font_light pt-4">
                    <p class="font_medium footer_list">Branchen</p>
                    <p class="font_light footer_list">Versicherungen & Makler</p>
                    <p class="font_light footer_list">Banken & Immobilien</p>
                    <p class="font_light footer_list">Einzelhandel / Onlineshops</p>
                    <p class="font_light footer_list">Gesundheitswesen</p>
                    <p class="font_light footer_list">Telekommunikation</p>
                </div>
            </div>
            <div class="col-md-3 text-white">
                <p class="text-uppercase pb-2 font_bold primary">Warum CSN</p>
                <div class="font_light">
                    <p class="font_medium footer_list">Highlights</p>
                    <p class="font_light footer_list">20 Jahre Markterfahrung</p>
                    <p class="font_light footer_list">Modernste Webtechnologien</p>
                    <p class="font_light footer_list">Inhouse Kundenservice</p>
                    <p class="font_light footer_list">Kostenlose Schulung & Beratung</p>
                    <p class="font_light footer_list">Premium Operatorservicen</p>
                </div>

                <div class="font_light pt-4">
                    <p class="font_medium footer_list">Über uns</p>
                    <p class="font_light footer_list">Unsere Vision</p>
                    <p class="font_light footer_list">CSN Leitlinien</p>
                    <p class="font_light footer_list">Made and hosted in Germany</p>
                    <p class="font_light footer_list">zertifiziert und sicher</p>
                    <p class="font_light footer_list">DSGVO-, BDSG- und TKG-konform</p>
                </div>
            </div>
            <div class="col-md-3 d-flex flex-column justify-content-between text-white">
                <div>
                    <p class="text-uppercase primary pb-2 font_bold">Service Menü</p>
                    <div class="font_light">
                        <p class="font_light footer_list">Impressum</p>
                        <p class="font_light footer_list">Datenschutzerklärung</p>
                        <p class="font_light footer_list">Haftungsausschluss</p>
                        <p class="font_light footer_list">Allgemeine Geschäftsbedingungen</p>
                        <p class="font_light footer_list">Kontakt</p>
                    </div>
                </div>
                <div>
                    <div class="font_light pb-3">
                        <p class="font_medium text-uppercase">Folgen Sie uns Bei</p>
                        <div class="row pe-5">
                            <div class="col-3 social_media_row">
                                <a href="#"><img src="assets/pictures/facebook_hover.svg" alt=""
                                                 class="social_media_hover"></a>
                                <img src="assets/pictures/facebook.png" alt="" class="social_media">
                            </div>
                            <div class="col-3 social_media_row">
                                <a href="#"><img src="assets/pictures/twitter_hover.svg" alt=""
                                                 class="social_media_hover"></a>
                                <img src="assets/pictures/twitter.png" alt="" class="social_media">
                            </div>
                            <div class="col-3 social_media_row">
                                <a href="#"><img src="assets/pictures/instagram_hover.svg" alt=""
                                                 class="social_media_hover"></a>
                                <img src="assets/pictures/instagram.png" alt="" class="social_media">
                            </div>
                            <div class="col-3 social_media_row">
                                <a href="#"><img src="assets/pictures/youtube_hover.svg" alt=""
                                                 class="social_media_hover"></a>
                                <img src="assets/pictures/youtube.png" alt="" class="social_media">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#navbar" style="position: absolute; right: 40px; bottom: 50px;"><img src="assets/pictures/to_top_arrow.svg"
                                                                                  alt=""></a>
</section>