<section id="navbar_sticky">
    <div class="position-relative">
        <div class="box">
            <nav class="d-flex justify-content-between py-4">
                <div class="d-flex ps-0">
                    <a href="index.html"><img src="assets/pictures/CSN_Wortbildmarke_RZ.svg" alt=""
                                              class="banner_height"></a>
                </div>
                <div class="d-flex justify-content-between text-uppercase " id="dropdown_enabler">
                    <ul class="d-flex justify-content-between align-items-center" id="navbar_items">
                        <li><h3 class="my-auto me-5 py-1 navbar_heading position-relative" id="conferencing"><a
                                href="conferencing.html">CSN <span class="font_bold">Conferencing</span></a></h3></li>
                        <li><h3 class="my-auto me-5  py-1 navbar_heading position-relative" id="online"><a
                                href="online-beratung.html">CSN <span class="font_bold">Online Beratung</span></a></h3>
                        </li>
                        <li><h3 class="font_bold my-auto py-1 navbar_heading position-relative" id="warum"><a
                                href="warum.html">Warum CSN</a></h3></li>
                    </ul>
                </div>
                <div class="d-flex my-auto align-items-center text-uppercase" id="icon_section_navbar">
                    <div class="d-flex flex-column align-self-center pe-5 icon">
                        <div class="mx-auto icons_height icon_jump">
                            <i data-feather="mail"></i>
                        </div>
                        <p class="mx-auto no_padding_bot font_navbar font_medium"><a href="">Kontakt</a></p>
                    </div>
                    <div class="d-flex flex-column align-content-center pe-5 icon" id="suche">
                        <div class="mx-auto icons_height icon_jump">
                            <i data-feather="search"></i>
                        </div>
                        <p class="mx-auto no_padding_bot font_navbar font_medium">Suche</p>
                    </div>
                    <div class="d-flex flex-column align-content-center icon">
                        <div class="mx-auto icons_height icon_jump">
                            <i data-feather="globe"></i>
                        </div>
                        <p class="mx-auto no_padding_bot font_navbar font_medium">Deutsch</p>
                    </div>
                </div>

                <!-- Mobile Menu Hamburger -->
                <div class="align-items-center" id="hamburger">
                    <button id="hamburger_button"><img src="assets/pictures/hamburger.svg" alt=""></button>
                </div>
            </nav>
        </div>
        <div id="dropdown_bar">
            <div class="hide bg-white" id="dropdown_conferencing">
                <div class="box border-top d-flex justify-content-center py-3">
                    <h3 class="mx-5 dropdown_font"><a href="#">Enthaltene Produkte</a></h3>
                    <h3 class="mx-5 dropdown_font"><a href="#">Einsatzbereiche</a></h3>
                    <h3 class="mx-5 dropdown_font"><a href="#">Branchen</a></h3>
                    <h3 class="mx-5 dropdown_font"><a href="#">Unsere Highlights</a></h3>
                    <h3 class="mx-5 dropdown_font"><a href="#">Präsentations-Features</a></h3>
                </div>
            </div>
            <div class="hide bg-white" id="dropdown_online">
                <div class="box border-top d-flex justify-content-center py-3 ">
                    <h3 class="mx-5 dropdown_font"><a href="#">Highlights</a></h3>
                    <h3 class="mx-5 dropdown_font"><a href="#">Vorteile</a></h3>
                    <h3 class="mx-5 dropdown_font"><a href="#">Sicherheit</a></h3>
                </div>
            </div>
            <div class="hide bg-white" id="dropdown_warum">
                <div class="box border-top d-flex justify-content-center py-3">
                    <h3 class="mx-5 dropdown_font"><a href="#">Vorzüge</a></h3>
                    <h3 class="mx-5 dropdown_font"><a href="#">Vorzüge</a></h3>
                    <h3 class="mx-5 dropdown_font"><a href="#">Vorzüge</a></h3>
                </div>
            </div>
            <div class="hide bg-white" id="dropdown_suche">
                <div class="box border-top d-flex justify-content-end py-3 dropdown_font">
                    <div class="input-group search_bar w-25">
                        <input type="text" class="form-control" placeholder="Suche" aria-label="Recipient's username"
                               aria-describedby="basic-addon2">
                        <button class="search_button d-flex align-items-center"><img src="assets/pictures/search.svg"
                                                                                     alt=""></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>