<!-- Navbar Mobile -->

<section id="mobile-menu" class="section_mobile_menu">
    <nav class="container_mobile_nav d-flex flex-row position-absolute">
        <div class="grey_sidebar pt-4 d-flex justify-content-center align-items-start">
            <button id="closing_button"><img src="assets/pictures/menu_close.svg" alt="" class="align-self-start">
            </button>
        </div>
        <div class="main_navigation_mobile">
            <div class="navigation_inner_box">
                <div class="d-flex justify-content-between my-4">
                    <div class="d-flex col-auto">
                        <div class="d-flex align-items-center">
                            <i data-feather="globe" class="me-2"></i>
                            <span class="font_medium">DE</span>
                        </div>
                    </div>

                    <div class="d-flex col-auto">
                        <div class="d-flex align-items-center">
                            <i data-feather="mail" class="me-2"></i>
                            <span class="font_medium">Kontakt</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile_search_container">
                <div class="navigation_inner_box d-flex w-100 py-4">
                    <div class="d-flex w-100 mobile_search_bar" style="height: 35px;">
                        <div class="mobile_search_input_container">
                            <input type="search" placeholder="Suche ..." class="mobile_search_input"
                                   id="mobile-search-input"/>
                        </div>
                        <div class="mobile_search_icon d-flex justify-content-end pe-3">
                            <button class="search_button d-flex align-items-center" id="mobile_search_button"><i
                                    data-feather="search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation_inner_box py-3">
                <ul class="mobile_nav_items">
                    <li><a href="" class="font_bold">Startseite</a></li>
                    <li><a href="">CSN <span class="font_bold">Conferencing</span></a></li>
                    <li><a href="">CSN <span class="font_bold">Online Beratung</span></a></li>
                    <li><a href="" class="font_bold">Warum CSN</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>