<section id="navbar" class="d-flex justify-content-end">
    <div class="bg-primary py-2 box_navbar_top">
        <div class="box-right d-flex justify-content-between box-right ps-3 text-uppercase text-white">
            <div class="">
                <span class="font_navbar font-regular me-3">Haben wir Ihr Interesse geweckt?</span>
                <span class="font_navbar font_bold arrow_after">Kostenlos testen</span>
            </div>

            <div class="">
                <span class="font_navbar font-regular me-3">Bereits registriert?</span>
                <span class="font_navbar font_bold arrow_after">Login</span>
            </div>

        </div>
    </div>
</section>